* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#000000 30%, #272727);
}
.container {
    position: relative;
    height: 100vh;
    width: 40%;
    overflow: hidden;
    padding-top: 8rem;
}
.slides {
    display: flex;
    width: 100%;
}
.slides img {
    width: 100%;
    transition: all 0.5s ease-in;
    border-radius: 3%;
    box-shadow: 0.5rem white;
}
body input {
    display: none;
}
.dots {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0 0.5rem 0.5rem;
}
.dots label {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #778899;
    cursor: pointer;
    transition: all 0.5s ease-in;
    margin-left: 0.5rem;
}
.dots label:hover{
    background-color: #FFFFFF;
}
.texts {
    display: flex;
    justify-content: flex-start;
    color: #FFFFFF;
    margin-top: -1.8rem;
}
.texts span {
    width: 70%;
    animation-name: text-appears;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
@keyframes text-appears {
    from {color: #272727;}
    to {color: #FFFFFF;}
}
@keyframes images-appears {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
#image1:checked ~ .container .slider .slides .slide1 {
    display: flex;
    margin-left: 0;
    animation-name: images-appears;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
#image2:checked ~ .container .slider .slides .slide2 {
    display: flex;
    margin-left: 0;
    animation-name: images-appears;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
#image3:checked ~ .container .slider .slides .slide3 {
    display: flex;
    margin-left: 0;
    animation-name: images-appears;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
#image4:checked ~ .container .slider .slides .slide4 {
    display: flex;
    margin-left: 0;
    animation-name: images-appears;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
#image1:checked ~ .container .slider .dots .dot1,
#image2:checked ~ .container .slider .dots .dot2,
#image3:checked ~ .container .slider .dots .dot3,
#image4:checked ~ .container .slider .dots .dot4 {
    background-color: #FFFFFF;
    border: 0.31rem solid #778899;
}
#image1:checked ~ .container .slider .texts .text1,
#image2:checked ~ .container .slider .texts .text2,
#image3:checked ~ .container .slider .texts .text3,
#image4:checked ~ .container .slider .texts .text4 {
    margin-left: 0;
    display: flex;
}
#image1:checked ~ .container .slider .texts .text2, .text3, .text4 {
    display: none;
}
#image2:checked ~ .container .slider .texts .text1, .text3, .text4 {
    display: none;
}
#image3:checked ~ .container .slider .texts .text1, .text2, .text4 {
    display: none;
}
#image4:checked ~ .container .slider .texts .text1, .text2, .text3 {
    display: none;
}
#image1:checked ~ .container .slider .slides .slide2, .slide3, .slide4 {
    display: none;
}
#image2:checked ~ .container .slider .slides .slide1, .slide3, .slide4 {
    display: none;
}
#image3:checked ~ .container .slider .slides .slide1, .slide2, .slide4 {
    display: none;
}
#image4:checked ~ .container .slider .slides .slide1, .slide2, .slide3 {
    display: none;
}

@media (max-width: 320px) {
    .texts {
        font-size: 0.4rem;
    }
    .slider {
        display: flex;
        flex-direction: column;
    }
}